<!-- Author: w2112281  -->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block title %}Change Password Completed{% endblock %}

{% block content %}
<div class="password-change-page">
    <div class="card rounded-component-design border-0 p-3">
        <div class="password-change-page-header">
            <h1>Password Updated</h1>
        </div>
        <div class="password-change-page-content">
            <p><a href="{% url 'profile' %}">Return to profile</a></p>
        </div>
    </div>
</div>
{% endblock %}