<!-- Author: w2112281  -->
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="password-change-page">
        <div class="card rounded-component-design border-0 p-3">
            <div class="password-change-page">
                <h1 class="text-primary-color mb-3">Change Password</h1>
            </div>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Update password</button>
            </form>
        </div>
    </div>
{% endblock %}