{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}
<h1>Teams</h1>

{% if teams %}
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Team</th>
                <th>Department</th>
                <th>Team lead</th>
                <th>Number of employees</th>

                <th>Projects</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.team_id }}</td>
                    <td>{{ team.team_name }}</td>
                    <td>{{ team.department.department_name }}</td>
                    <td>{{ team.team_leader }}</td>
                    <td>{{ team.employee_count }}</td>


                    <td>{{ team.project_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No teams found.</p>
{% endif %}
{% endblock %}