<!-- Authors: w2112281 -->

<footer class="site-footer">
    <div class="footer-inner">
        <div class="footer-row">
            <div class="copyright">
                <p class="m-0">© 2026 Sky. All rights reserved</p>
            </div>

            <div class="footer-links">
                <ul class="footer-links-list">
                    <li><a href="/policy">Privacy Policy</a></li>
                    <li><a href="/terms-service">Terms of Service</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/help-center">Help Center</a></li>
                    {% else %}
                        <li><a href="/security">Security</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>