<header class="site-header">
    <div class="top-bar">
        <div class="header-inner">
            <div class="header-row">
                <div class="logo-section">
                    {% load svg %}
                    {% svg 'siteLogo' %}
                </div>

                {% if user.is_authenticated %}
                    <div class="search-bar">
                        <label class="hidden" for="search">Search on site</label>
                        <form action='/search' method='get' class="search-bar-form">
                            <input id="search" name="q" type="text" placeholder="Search teams, dpts, or managers" class="search-input">
                            <button class="button">
                                {% load svg %}
                                {% svg 'search' %}
                            </button>
                        </form>
                    </div>


                    <div class="profile-section">
                        <div class="nav-left">
                            <span class="user-label">Logged in as: {{ user.username }}</span>
                        </div>
                        <div class="nav-right">
                            <form action="{% url 'logout' %}" method="post" class="logout-form">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-dark">Logout</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="helpful-links">
                        <ul class="utility-links">
                            <a href="{% url 'login' %}">Login</a>
                            <li><a href="/help">Help</a></li>
                            <li><a href="/contact-support">Contact Support</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>