<!-- Authors: w2112281, w2143865 -->

<header class="site-header">
    <div class="top-bar">
        <div class="header-inner">
            <div class="header-row">
                <div class="logo-section">
                    {% load svg %}
                    {% svg 'siteLogo' %}
                </div>

                {% if user.is_authenticated %}
                    <div class="search-bar">
                        <label class="hidden" for="search">Search on site</label>
                        <form action="{% url 'team-list' %}" method="get" class="search-bar-form">
                            <input id="search" name="q" type="text" placeholder="Search teams, dpts, or managers" class="search-input">
                            <button class="button">
                                {% load svg %}
                                {% svg 'search' %}
                            </button>
                        </form>
                    </div>
                    <div class="profile-section d-flex align-items-center">
                        <div class="notifications-section pe-3">
                            <a href="{% url 'messaging:message-list' %}" class="notification-link">
                                {% load svg %}
                                {% svg 'notification' class="notification-icon" %}
                            </a>
                        </div>

                        <div class="user-section pe-3">
                            {% if user.first_name and user.last_name %}
                                <span class="user-label">{{ user.first_name }} {{ user.last_name }}</span>
                            {% else %}
                                <span class="user-label">{{ user.username }}</span>
                            {% endif %}
                        </div>
                        <div class="dropdow-section">
                            <div class="dropdown-section-toggle" data-bs-toggle="dropdown">
                                {% load svg %}
                                {% svg 'arrow_down' class="dropDown-icon" %}
                            </div>
                            <div class="dropdown-menu rounded-component-design">
                                <a href="{% url 'dashboard-router' %}" class="dropdown-menu-item">Dashboard</a>
                                <a href="{% url 'user-profile' user_id=request.user.id %}" class="dropdown-menu-item">Profile</a>
                                <form action="{% url 'logout' %}" method="post" class="logout-form">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-primary">Logout</button>
                                </form>
                            </div>

                        </div>
                    </div>
                {% else %}
                    <div class="helpful-links">
                        <ul class="utility-links">
                            {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'admin-login' and request.resolver_match.url_name != 'register' and request.resolver_match.url_name != 'account-password-reset' and request.resolver_match.url_name != 'account-password-reset-done' and request.resolver_match.url_name != 'account-password-reset-confirm' and request.resolver_match.url_name != 'account-password-reset-complete' %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                            <li><a href="/help">Help</a></li>
                            <li><a href="/contact-support">Contact Support</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
